/* Your CSS below this line... */
  /* font:Georgia;Trebuchet */
* {box-sizing: border-box;}
.JeffersonLogo{
  height: 4em;
  padding-right: 3em;
}
.WelcomeKanbar{
  margin-top: 3em;
  font-family: Helvetica, Georgia, serif;
  color:#152456;
  background-color:transparent;
}
h2{
  font-family: Helvetica, Georgia, serif;
  font-size:1.8em;
}
h3{
  font-family: Helvetica, Georgia, serif;
  font-size:1.3em;
}
h4{
  font-family: Georgia, serif;
  font-size:1.3em;
}
.menu-check{
  margin-top: 1.5em;
}
.diningcenter{
color:#152456;
background-color: white;
opacity: 80%;
margin-top: 2em;
}

.row-footer-item{
  display: flex;
  background-color: #152456;
  color: #ffffff;
  width:100%;
  padding:2em 0 2em 0;
  justify-content: center;
}
.copyright-color{
  color:#ffffff;
  background-color: transparent;

}
.nav-item{
  padding: 1.3em 2em 0 4em;
  font-size:1.3em;
  font-weight:bold;
}
.nav-item-signin{
  padding: 1.8em 4em 0 3em;
  font-size:1em;
}
.nav-item-signout{
  /* padding: 1.8em 1em 0 3em; */
  font-size:1em;
}
.hover-color{
    color: #152456;
    background-color:transparent;
}
a:hover{
  color:#59B7df;
  background-color:transparent;
  text-decoration:none;
}
.carousel{
  width:100%;
  margin:0px auto;
}

.form {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    padding-top:80px;
    padding-bottom: 20px;
  }
